@font-face {
  font-family: "iconfont"; /* Project id 3350382 */
  src: url('iconfont.woff2?t=1652492852244') format('woff2'),
       url('iconfont.woff?t=1652492852244') format('woff'),
       url('iconfont.ttf?t=1652492852244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouxuanxiang:before {
  content: "\e666";
}

.icon-quanping:before {
  content: "\e665";
}

.icon-chazhao1:before {
  content: "\e664";
}

.icon-shiheyemian:before {
  content: "\e663";
}

.icon-heshikuandu:before {
  content: "\e662";
}

.icon-shijidaxiao1:before {
  content: "\e661";
}

.icon-yidong:before {
  content: "\e660";
}

.icon-yidong1:before {
  content: "\e65f";
}

.icon-dayin1:before {
  content: "\e65e";
}

.icon-dayin:before {
  content: "\e65d";
}

.icon-baocun:before {
  content: "\e65c";
}

.icon-lingcunwei:before {
  content: "\e65b";
}

.icon-cha:before {
  content: "\e659";
}

.icon-zuixiaohua:before {
  content: "\e657";
}

.icon-xiala:before {
  content: "\e656";
}

.icon-xiala-copy:before {
  content: "\e71d";
}

.icon-caidan:before {
  content: "\e655";
}

.icon-suolvetu:before {
  content: "\e651";
}

.icon-suolvetu-copy:before {
  content: "\e71c";
}

.icon-zhushiliebiao:before {
  content: "\e650";
}

.icon-zhushiliebiao-copy:before {
  content: "\e71b";
}

.icon-qianzhangliebiao:before {
  content: "\e64f";
}

.icon-qianzhangliebiao-copy:before {
  content: "\e71a";
}

.icon-zhang:before {
  content: "\e610";
}

.icon-tiaozhuanweiye:before {
  content: "\e690";
}

.icon-tiaozhuanweiye-copy:before {
  content: "\e719";
}

.icon-shangyiye:before {
  content: "\e615";
}

.icon-shangyiye-copy:before {
  content: "\e718";
}

.icon-icon_rotate:before {
  content: "\e61d";
}

.icon-line-barcodeboxtiaoxingma-02:before {
  content: "\e717";
}

.icon-wenzishuiyin:before {
  content: "\e64c";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-shuiyin:before {
  content: "\e603";
}

.icon-suoxiao:before {
  content: "\e67b";
}

.icon-fangda:before {
  content: "\e65a";
}

