<div class="<%= styles.annotation %> <%= styles.shrink %>">
    <div class="<%= styles.title %>">
        <div class="<%= styles.jiantou %>">
            <img style="margin-top: -6px;margin-left: -6px;" width="13" height="13" src="<%= jiantouUrl %>" />
        </div>
        <div class="<%= styles.icon %>">
            <img style="margin-top: -7px;margin-left: -7px;" width="15" height="15" src="<%= infoIconUrl %>" />
        </div>
        <div class="<%= styles.titleContent %>">
            <span>
                <%= titleContent %>
            </span>
        </div>
    </div>
    <div class="<%= styles.textLine %>">
        <div class="<%= styles.desc %>"></div>
        <div class="<%= styles.descContent %>"></div>
    </div>
</div>